# Add any directories, files, or patterns you don't want to be tracked by version control
local/front/node_modules/*
/psd
/wa-data/
/wa-log/
/wa-installer/
/wa-sources/
/wa-widgets/
/wa-system/
/wa-cache/
/wa-config/
/wa-content/
/README
/wa.php
/LICENSE
/cli.php
/.htaccess
/api.php
/index.php
/.idea/
/wa-apps/contacts/
/wa-apps/installer/
/wa-apps/logs/
/wa-apps/shop/templates/
/wa-apps/shop/js/
/wa-apps/shop/locale/
/wa-apps/shop/api/
/wa-apps/shop/plugins/
/wa-apps/shop/img/
/wa-apps/shop/css/
/wa-apps/shop/lib/
/wa-apps/shop/themes/default/
/wa-apps/shop/.files.md5
/wa-apps/site/js/
/wa-apps/site/locale/
/wa-apps/site/img/
/wa-apps/site/templates/
/wa-apps/site/css/
/wa-apps/site/lib/
/wa-apps/site/api/
/wa-apps/site/themes/default/
/wa-apps/site/.files.md5
/wa-apps/team/
/wa-apps/blog/locale/
/wa-apps/blog/img/
/wa-apps/blog/templates/
/wa-apps/blog/api/
/wa-apps/blog/js/
/wa-apps/blog/lib/
/wa-apps/blog/css/
/wa-apps/blog/themes/default/
/wa-apps/blog/.files.md5
/wa-apps/blog/widgets/
/wa-apps/settings/
/wa-apps/shop/themes/pro_land/
