header.b-header__wrapper
	.container
		.b-header
			.b-header-menu
				.b-header-menu__element.b-header-menu__element--add.btn.btn-primary Добавить 
				a(href="" ).b-header-menu__element.btn.btn-primary Обновить 
			form.b-header-search
				.b-header-search__icon.glyphicon.glyphicon-search
				input(type="search" placeholder="Событие, дата или участник").b-header-search__input.form-control